<!DOCTYPE html>
<html ng-app="angularApp">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Angular</title>
</head>
<h1 id="angular">ANGULAR</h1>
<body id="index" onload="" ng-controller="AngularCtrl">
	<form novalidate class="simple-form">
		Title: <input type="text" ng-model="news.title" />
		Author: <input type="text" ng-model="news.author" />
		<button ng-click="update(news)">SAVE</button>
	</form>
	<ul class="articles">
		<li ng-repeat="article in articles">
			{{article.id}}:{{article.author}}:{{article.title}} <button class="btn" ng-click="delete(article.id)">Delete</button>
			
		</li>
	</ul> 
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<script src="../assets/js/angcontroller.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>