<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Jquery</title>
	
</head>
<h1 id="backbone">JQUERY</h1>
<body id="index" onload="">
		Title: <input id="title" type="text" name="title" ng-model="news.title" />
		Author: <input  id="author" type="text" name="author" ng-model="news.author" />
		<button ng-click="update(news)">SAVE</button>
	<ul class="articles">
	</ul> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../assets/js/jqcontroller.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>