<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Backbone</title>
	
</head>
<h1 id="backbone">BACKBONE</h1>
<body id="index" onload="">
	<form novalidate class="simple-form">
		Title: <input type="text" name="title" ng-model="news.title" />
		Author: <input type="text" name="author" ng-model="news.author" />
		<button ng-click="update(news)">SAVE</button>
	</form>
	<ul class="articles">
	</ul> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//underscorejs.org/underscore-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//documentcloud.github.io/backbone/backbone-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../assets/js/bbcontroller.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>